// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// couleur de notre app


$dark-blue: #264653;
$medium-green: #2A9D8F;
$light-green: #94D2BD;
$light-beige: #FCF5E0;
$medium-beige: #E9C46A;
$orange: #EE9B00;
$peach: #F4A261;
$sunset: #E76F51;
