<h1>dates test</h1>
<div data-controller="datepicker" data-datepicker-target="date">
  <%= simple_form_for [poll, choice] do|f| %>
    <%= f.input :answer,
                as: :string,
                input_html: { data: { controller: "datepicker" } } %>
    <%= f.input :answer,
                as: :string,
                input_html: { data: { controller: "datepicker" } } %>
    <%= f.submit %>
  <% end %>
</div>
