<h1>dates test</h1>
<div data-datepicker-target="date">
  <%= simple_form_for [poll, choice] do|f| %>
    <%= f.input :answer, label: "Sélectionnez vos dates:",
                as: :string,
                input_html: { data: { controller: "datepicker" },  id: "range_start" } %>
    <%= f.input :answer, label: false,
                as: :string,
                input_html: { data: { controller: "datepicker" },  id: "range_end", class: "d-none" } %>
    <%= f.submit %>
  <% end %>
</div>
