<ul>
  <%= choice.answer %>
</ul>



<div class="card-box mb-4" style="max-width: 810px;">
      <div class="card-card col justify-content-evenly">
        <div class="image-card col-md-4">
          <%# <img src="..." class="img-fluid rounded-start" alt="...">%>
          <i class="user-pic fa-solid fa-user"></i>
        </div>

        <div class="col-md-7">
          <div class="card-body">
            <h5 class="card-title">Proposition de #user</h5>

            <div class="text-dates">
              <div class="medium-text">
                <p class="card-medium-text"><small>Date début</small></p>
                <p class="card-medium-text"><small>Date fin</small></p>
              </div>
              <div class="small-text">
                <p class="card-small-text"><small>20/06/24</small></p>
                <p class="card-small-text"><small>30/07/24</small></p>
              </div>
            </div>
          </div>
        </div>

        <div class="check-box col-md-1">
          <i class="check-box-empty fa-regular fa-square"></i>
        </div>
      </div>
</div>
