<div class="card-box mb-4" style="max-width: 374px;">
  <div class="card-destination-answer">

    <div class="col-md-7">
      <div class="card-body">

        <div class="text-destination">
          <div class="medium-text">
            <p class="card-medium-text-destination">
              <%= choice.answer.capitalize%>
              </p>
          </div>
        </div>
      </div>
    </div>

    <div class="check-box col-md-1" id="choice_square_<%= choice.id %>">
      <span style="display: none">
        <%= button.radio_button %>
      </span>

      <!-- Condition pour afficher l'état de la case (cochée ou non) -->
      <% if current_user.votes.exists?(choice_id: choice.id) %>
        <i class="check-box-checked fa-solid fa-check-square"></i> <!-- Case cochée -->
      <% else %>
        <i class="check-box-empty fa-regular fa-square"></i> <!-- Case vide -->
      <% end %>
    </div>
  </div>
</div>
