<%#  Affichage de la valeur du choix de destination %>
<div class="card-box mb-4" style="max-width: 374px;">
      <div class="card-destination-answer">

    <div class="col-md-7">
      <div class="card-body">

        <div class="text-destination">
          <div class="medium-text">
            <p class="card-medium-text-destination">
              <%= choice.answer.capitalize%>
              </p>
          </div>
        </div>
      </div>
    </div>

    <div class="check-box col-md-1" id="choice_square_<%= choice.id %>">
      <span style="display: none">
        <%= button.radio_button %>
      </span>

      <i class="check-box-empty fa-regular fa-square"></i>
    </div>
  </div>
</div>
