<div class="card-groupe-container mb-3 d-flex justify-content-center">
  <div class="card bg-light border-orange" style="max-width: 810px;">
    <div class="row g-0">
      <div class="col-md-4 d-flex align-items-center justify-content-center">
        <img src="https://images.unsplash.com/photo-1709884735626-63e92727d8b6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8ZnJlZSUyMGltYWdlc3xlbnwwfHwwfHx8Mg%3D%3D" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body-groupe text-end">
          <h5 class="card-title-groupe text-orange">Groupe Name</h5>
          <p class="card-text text-orange"><small class="text-muted">12/02/25 - 24/02/25</small></p>
          <div class="d-flex align-items-center justify-content-end">
            <img src="user_avatar.jpg" class="rounded-circle me-2" width="32" height="32" alt="User Avatar">
            <small class="text-orange">Nom de l'utilisateur</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
