<%# <div class="card-groupe-container d-flex justify-content-center"> %>
  <%# <div class="groupe-avatar-card">
   <div class="col-md-4">
      <img src="..." class="img-fluid rounded-start" alt="...">
    </div>
  </div> %>
  <%# <div class="group-name-card">
    <h1>groupe name</h1>
  </div> %>
  <%# <div class="group-date-card">
    <h3>choix des dates du groupe</h3>
  </div>
</div> %>
<%# <div class="card-groupe-container mb-3 d-flex justify-content-center" >
  <div class="card-boite mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="groupe-image-card col-md-4" style="max-width: 50px;">
        <img src="https://images.unsplash.com/photo-1709884735626-63e92727d8b6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8ZnJlZSUyMGltYWdlc3xlbnwwfHwwfHx8Mg%3D%3D" class="img-fluid rounded-start" alt="...">
      </div>
    </div>
    <div class="group-name-card col-md-8">
      <div class="group-name">
        <h5>Groupe Name</h5>
      </div>
      <div class="groupe-date-card">
        <h6 class="group-date-card">12/12/2024</h6>
      </div>
      <div class="group-avatar-card">
        <small class="text-body-secondary"> mettre avatar du user ici</small></p>
      </div>
    </div>
    </div>
</div> %>
<%# <div class="card-groupe-container mb-3 d-flex justify-content-center"> %>
 <div class="card-groupe-container mb-3 d-flex justify-content-center">
  <div class="card bg-light border-sunset rounded-3 shadow-sm" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4 d-flex align-items-center justify-content-center">
        <img src="https://images.unsplash.com/photo-1709884735626-63e92727d8b6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8ZnJlZSUyMGltYWdlc3xlbnwwfHwwfHx8Mg%3D%3D" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body-groupe text-end">
          <h5 class="card-title text-orange">Groupe Name</h5>
          <p class="card-text text-orange"><small class="text-muted">12/02/25 - 24/02/25</small></p>
          <div class="d-flex align-items-center justify-content-end">
            <img src="user_avatar.jpg" class="rounded-circle me-2" width="32" height="32" alt="User Avatar">
            <small class="text-orange">Nom de l'utilisateur</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
