<h1 class="title">Liste des groupes</h1>
<div class="button">
<%= render "/shared/button_pills" %>
</div>


<%  @groups.each do |group| %>
  <%= group.title %>
<% end %>

<button type="button" class="button-pill medium-green">Base class</button>

<button type="button" class="button-pill peach">Base class</button>

<button type="button" class="button-pill sunset">Base class</button>
