<h1 class="title">Liste des groupes</h1>
<div class="button w-100">
<%= render "/shared/button_pills" %>
</div>
<%= render "groups/card" %>
<%  @groups.each do |group| %>
  <%= group.title %>
<% end %>
