<button type="button" class="button-pill medium-green">Base class <i class="right-arrow fa-regular fa-circle-right"></i></button>

<button type="button" class="button-pill peach">Base class <i class="right-arrow fa-regular fa-circle-right"></i></button>

<button type="button" class="button-pill sunset">Base class <i class="right-arrow fa-regular fa-circle-right"></i></button>
