<%# liste des choices (choix des users) + lien vers la new de choice %>
<%# ensuite => overlay %>
<div class="container-card-hebergement">
  <h1 class="title"><%= @poll.title %></h1>

  <%= render "card_hebergement" %>

  <div class="button d-flex justify-content-center">
    <%= link_to new_poll_choice_path(@poll), class: "button-pill sunset" do %>
    Ajouter un nouveau choix
    <i class="right-arrow fa-regular fa-circle-right"></i>
    <% end %>
  </div>
</div>
