<div class="cont-group-show-big">
  <h1 class="title">Sondage dates</h1>

  <div class="destination-poll-button-sondage">
    <i class="fa-solid fa-calendar"></i>
  </div>

  <div class="input-container">
    <%= simple_form_for [poll, choice], data: { controller: 'datepicker'} do|f| %>
    <%= f.input :answer,
                as: :string,
                label: false,
                input_html: { id: 'range_start', data: { controller: "datepicker" } } %>

    <div class="button d-flex justify-content-center">
      <button type="submit" class="button-pill sunset">
        Ajouter un nouveau choix
        <i class="right-arrow fa-regular fa-circle-right"></i>
      </button>
    </div>
  <% end %>
  </div>
</div>
