<%= simple_form_for [@poll, choice], method: :post do |f| %>
  <div class="mb-3">
    <%= f.input :url, label: "Lien de l'hébergement", input_html: { placeholder: "URL de l'hébergement (Booking, Airbnb...)", class: "form-control" } %>
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-success">Ajouter l'hébergement</button>
  </div>
<% end %>


