
<% if user_signed_in? && @poll.group.owner == current_user %>

  <form action="<%= poll_choices_path(@poll) %>" method="post">
    <!-- Token CSRF pour la sécurité -->
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

    <!-- Champ pour le lien de l'hébergement -->
    <div class="mb-3">
      <label for="url" class="form-labell">Lien de l'hébergement</label>
      <input
        type="url"
        name="choice[url]"
        id="url"
        placeholder="URL de l'hébergement (Booking, Airbnb...)"
        class="form-control"
        required
      >
    </div>

    <!-- Bouton de soumission -->
    <div class="text-center">
      <button type="submit" class="button-pill medium-green no-padding">Ajouter l'hébergement</button>
   </div>
  </form>
<% end %>
