.card {
  border: solid #ff8c00 !important;
  background-color: $light-beige !important;
  padding: 12px;
  border-radius: 4px;
  box-shadow: var(--box-shadow-card);
  margin: 16px;
  align-self: flex-start;
}

// .border-sunset {
//   border-color: #ff8c00 !important;
// }
.card-body-groupe {
  text-align: end;
  font-family: $body-font !important;

  .text-muted {
    color: $peach !important;
      }
}
.card-title-groupe {
  color: $peach !important;
  font-weight: bold;
}
.text-orange {
  color: #ff8c00 !important;
}
