.card-hebergement {
  .card-box {
    background-color: $light-beige;
    border-radius: 12px;
    border: solid 2px $sunset;
    margin: 16px;
    box-shadow: var(--box-shadow-light);
  }
  .card-card {
    display: flex;
    align-items: center;
    position: relative;
  }

  .card-body {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.content-hebergement {
  width: 100%;
  display: flex;
}

.content-description {
  width: 300px;
  display: flex;
  justify-content: center;
}

.card-hebergement {
  .card-title {
    width: 300px;
    font-family: $body-font;
    font-weight: bold;
    color: $sunset;
  }
  .card-text {
    font-family: $body-font;
    font-weight: lighter;
    font-size: 16px;
    padding-left: 16px;
  }
}

.small-text-heb {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-family: $body-font;
  color: $sunset;
}

.text-body-heb {
  display: flex;
  align-items: center;
  font-family: $body-font;
  font-weight: bold;
  color: $sunset;
  padding-right: 16px;
}

.img-fluid {
  margin: 12px;
  align-self: center;
}

.drag {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -12px;
  height: 100%;
  width: fit-content;

  .drag-icon {
    box-shadow: var(--box-shadow-hard);
    font-size: 20px;
    color: $sunset;
    display: flex;
    justify-content: center;
    background-color: $light-beige;
    margin: auto;
    padding: 2px 4px;
    border-radius: 50%;

    &:hover{
      cursor: grabbing;
    }
  }
}
.image-card {
  .user-pic {
    text-align: center;
    color: $dark-blue;
    font-size: 32px;
    display: flex;
    justify-content: center;
    padding: 8px;
  }
}

.link {
  text-decoration: none;
}
// .card-hebergement {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

.sortable-container {
  margin-left: -40px;
}

.image-hebergement-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.img-hbgt-card{
  width: 300px;
  max-height: 200px;
  border-radius: 12px;
  -o-object-fit: cover;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow-light);
}
