.card-destination-answer {
  display: flex;
  align-items: center;
  padding: 0px 8px;
  justify-content: space-between;
}

.card-medium-text-destination {
  font-family: $body-font;
  color: $sunset;
  font-weight: bold;
  font-size: 20px;
}
