.card-groupe-container {
  .border-orange {
    border: solid #ff8c00 !important;
    background-color: $light-beige !important;
    padding: 12px;
    border-radius: 12px;
    box-shadow: var(--box-shadow-card);
    margin: 2px;
    align-self: flex-start;
  }
}

.card-body-groupe {
  padding: 12px;
  margin: 16px;
  text-align: end;
  font-family: $body-font !important;

  .text-muted {
    color: $peach !important;
      }
}
.card-title-groupe {
  color: $peach !important;
  font-weight: bold;
}
.text-orange {
  color: #ff8c00 !important;
}
