.main-container {
  width: 100vw;
  // max-width: 810px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  margin-bottom: 7vh;
}
// .container-card {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }
