.name-trip {
  font-family: helvetica !important;
  color: $sunset !important;
  font-weight: bold;
  margin-bottom: 16px;
}

.name-trip-banner {
  text-decoration: none;
}

.group-description {
  font-family: helvetica !important;
  color: $sunset !important;
  margin: 0px;
  font-weight: bold;
}

.group-image {
  font-family: helvetica !important;
  color: $sunset !important;
  margin: 16px;
  font-weight: bold;

}

// .name-trip-banner {
//   color: $medium-green !important;
// }
.group-description-banner {
  width: 100%;
}

.rounded-input {
  border-radius: 12px;
  border: 2px solid $sunset !important;
  background-color: $light-beige;
  font-family: $body-font !important;
  color: $sunset !important;
  margin: 4px;
  padding: 10px;
  width: 374px;
}

//////////////////// Lien copier coller /////////////////////
.invitation-link {
  border: none;
}

.lien-invitation {
  background-color: $light-beige !important;
}

.fa-copy {
  color: $medium-green;
}

.shadow-sm {
  color: $sunset;
  background-color: $light-beige;
  border-radius: 4px;
  border: 2px solid #E76F51;
  font-family: "Poppins", "Helvetica", "sans-serif";
}

.shadow-sm:hover {
  background-color: #2A9D8F;
  color: #FCF5E0;
  font-family: "Poppins", "Helvetica", "sans-serif";
}

/////////////////////////////////////////////////////////////
textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  resize: vertical;
}
