.cont-group-show {
  max-width: 75%;
  display: flex;
  justify-content: center;
}

.card-groupe-container {
  .border-orange {
    width: 100%;
    border: solid #ff8c00 !important;
    background-color: $light-beige !important;
    padding: 12px;
    border-radius: 12px;
    box-shadow: var(--box-shadow-card);
    margin: 2px;
    align-self: flex-start;
    margin-bottom: 16px;
  }
}

.card-body-groupe {
  padding: 12px;
  margin: 16px;
  text-align: end;
  font-family: $body-font !important;

  .text-muted {
    color: $peach !important;
      }
}
.card-title-groupe {
  color: $peach !important;
  font-weight: bold;
}
.text-orange {
  color: #ff8c00 !important;
}

.cover-group {
  display: flex;
  justify-content: center;
  width: 100%;
}

.cover-group-image {
  border-radius: 12px;
  box-shadow: var(--box-shadow-image);
  width: 100%;
  overflow: hidden;
  aspect-ratio: 16/9;
}

.image-cover-group {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.index-medium-text {
  .index-card-medium-text {
    color: $orange;
    font-weight: bold;
    margin-bottom: 8px;
  }
}

.title-index {
    font-family: $body-font;
    font-weight: bold;
    font-size: 24px;
    color: $orange;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
  }

ul {
  list-style-type: none;
  margin-block-start: 40px !important;
}
