.name-trip {
  font-family: $body-font !important;
  color: $peach !important;


}
.group-description {
  font-family: $body-font !important;
  color: $peach !important;
  margin: 16px;

}
.group-image {
  font-family: $body-font !important;
  color: $peach !important;
  margin: 16px;
}
.name-trip {
  margin-bottom: 16px;
}
.group-description-banner {
color: $peach !important;
}
