.container-poll-result {
  display: flex;
  flex-direction: column;
  width: 374px;
  border: solid 2px $orange;
  border-radius: 12px;
  padding: 8px;
  margin: 16px 0px;
  box-shadow: var(--box-shadow-hard);
}

.container-results {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.avatars {
  width: 40px;
  height: 20px;
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.result {
  display: flex;
  align-items: center;
  height: 20px;
}

.result:first-child .percentage {
  background-color: $medium-green;
}

.progress-bar {
  width: 200px;
  height: 100%;
  padding-right: 8px;
}

.percentage {
  background-color: $sunset;
  border-radius: 8px;
  height: 100%;
}

.answer {
  display: flex;
  justify-content: flex-end;
  width: 125px;
  font-family: $body-font;
  font-weight: bolder;
  color: $sunset;
  font-size: 14px;
}

.title-sondage {
  font-family: $body-font;
  font-weight: bold;
  color: $orange;
  font-size: 20px;
  text-align: center;
  margin-bottom: 32px;
}

img.avatar-group {
  display: flex;
  align-items: center;
  width: 16px;
  height: 16px;
}
