.container-poll-result {
  display: flex;
  flex-direction: column;
  width: 374px;
  border: solid 2px $orange;
  border-radius: 12px;
  padding: 8px;
  margin: 16px 0px;
  box-shadow: var(--box-shadow-light);
}

.container-results {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.avatars {
  width: 40px;
  height: 20px;
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.result {
  display: flex;
  align-items: center;
  height: 20px;
}

.result:first-child .percentage {
  background-color: $medium-green;
}

.progress-bar {
  width: 200px;
  height: 100%;
  padding-right: 8px;
}

.percentage {
  background-color: $sunset;
  border-radius: 8px;
  height: 100%;
}

.answer {
  display: flex;
  justify-content: flex-end;
  width: 125px;
  font-family: $body-font;
  font-weight: bolder;
  color: $sunset;
  font-size: 14px;
}

.title-sondage {
  font-family: $body-font;
  font-weight: bold;
  color: $orange;
  font-size: 20px;
  text-align: center;
  margin-bottom: 32px;
}

img.avatar-group {
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
}

.container-results-hebergement {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.result-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4px;
  gap: 12px;
}

.result-hebergement {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 12px;
  box-shadow: var(--box-shadow-light);
  gap: 16px;
}

.answer-hebergement {
  width: 100%;
  font-family: $body-font;
  color: $orange;
  font-size: 14px;
  font-weight: bolder;
}

.progress-bar-hebergement {
  width: 100%;
  height: 12px;
}

.img-hbgt {
  width: 100px;
  max-height: 80px;
  border-radius: 12px;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatars-hebergement {
  width: 40px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 8px;
}
.result-hebergement:first-child .percentage {
  background-color: $medium-green;
}
