<div class="back">
  <%= link_to :back, class: "icon-link" do %>
    <i class="fa-solid fa-left-long"></i>
  <% end %>
</div>

<% if current_page?(root_path)%>
<div class="back">
 <%= button_to groups_path, method: :post, class: "icon-link" do %>
    <i class="fa-solid fa-circle-plus"></i>
  <% end %>
</div>
<%end%>

<div class="home">
  <%= link_to root_path, class: "icon-link" do %>
    <i class="fa-solid fa-house"></i>
  <% end %>
</div>
