<div class="back">
  <%= link_to :back, class: "icon-link" do %>
    <i class="fa-solid fa-left-long"></i>
  <% end %>
</div>

<div class="home">
  <%= link_to root_path, class: "icon-link" do %>
    <i class="fa-solid fa-house"></i>
  <% end %>
</div>
