<% if @poll %>
  <div class="back">
    <%= link_to group_path(@poll&.group), class: "icon-link" do %>
      <i class="fa-solid fa-left-long"></i>
    <% end %>
  </div>
<% else %>
  <div class="back">
    <%= link_to :back, class: "icon-link" do %>
      <i class="fa-solid fa-left-long"></i>
    <% end %>
  </div>
<% end %>

<% if current_page?(root_path)%>
  <div class="back">
    <%= link_to new_group_path, class: "icon-link" do %>
      <i class="fa-solid fa-circle-plus"></i>
    <% end %>
  </div>
<%end%>

<div class="home">
  <%= link_to root_path, class: "icon-link" do %>
    <i class="fa-solid fa-house"></i>
  <% end %>
</div>
